
# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Ln10671660.,
DB_NAME=nestjs_loans

# JWT
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d

# AWS SES
AWS_REGION=eu-west-2
AWS_ACCESS_KEY_ID=ASIATDBHYTICRIAUIVIF
AWS_SECRET_ACCESS_KEY=7tXA4LoPPKrUi4/T4RduxjhbtrjldC2Az5Gu1rgR
SES_FROM_EMAIL=noreply@loan.com

# Frontend URL (for email links)
FRONTEND_URL=http://localhost:3000

# App
PORT=3000
NODE_ENV=development
